
.indigo {
        background-color: #9400D3
}

.deeppink
{
    background-color: #FF1493;
}

.springgreen
{
    background-color: #32CD32;
}

.navy
{
    background-color: #000080;
}

.orange
{
    background-color: #FF4500;
}

.brown
{
    background-color: #8B4513;
}